div.nav_bar {
  margin-bottom: 10px;
}
div.index_group_container_even, div.index_group_container_odd {
  clear: both;
  border-top: thin solid black;
}

div.problem_instruction {
  margin: 5px;
}

div.problem, div.rogue_problem {
  float: left;
  margin: 40px;
  width: 80px;
	height: 50px;
	padding-bottom: 10px;
}

div.problem_collection {
  clear: both;
}

/* Main Index Page */

div#container {
  width: 100%;
}

div#subject_list {
  float: left;
  width: 45%;
  margin-left: 10%;
}
div#tag_section {
  margin-top: 0;
  margin-left: 0;
  margin-right: 10%;
}
div#tag_section div#tag_list {
  line-height: 1.5em;
}


/* End of Main Index Page */