- content_for :head do
  %title Problem Level
  = stylesheet_link_tag "math_display", "lessons"

= render :partial => "problem_levels/problem_level_main_resource", :locals => { :problem_level => @problem_level, :paginated_math_problems => @math_problems }