- content_for :head do
  %title Problem Level
  = stylesheet_link_tag "lessons"

.row
  = @problem_level.instruction.description

.row
  = "There are #{@math_problems.size} problems on this level:"
.row
  -@math_problems.each do |math_problem|
    .single_problem_display
      .question_and_answer
        Question:
        =display_mathml_question(math_problem)
        Answer:
        =display_mathml_answer(math_problem)
      .problem_links
        =link_to 'Edit Problem', edit_math_problem_url(math_problem)

.row
  =link_to "Back to template", problem_type_path(@problem_level.problem_type)
  %br
  =link_to "Add New Problem to this Level", new_problem_level_math_problem_url(@problem_level)
  %br
