- content_for :head do
  %title Problem Level
  = stylesheet_link_tag "math_display", "lessons", "problem_type"

#current-asset-current-resource
  = display_current_asset @current_asset
  #main-problem-levels.current-resource
    = paginate @math_problems
    #problem-levels
      .row
        = @problem_level.instruction_text
      #level-problem-list
        -@math_problems.each do |math_problem|
          =render :partial => "math_problems/math_problem_full", :locals => { :math_problem => math_problem }
      .row
        =link_to "Back to Problem Type", problem_type_path(@problem_level.problem_type)
        %br
        =link_to "Add New Problem to this Level", new_problem_type_problem_level_math_problem_url(@problem_level.problem_type, @problem_level.level_number)
        %br
