=link_to "Back to template", math_problem_template_path(@problem_level.math_problem_template)
%br
-@math_problems.each do |math_problem|
  .problem_example
    .problem_display
      =display_mathml(math_problem)
