- content_for :head do
  %title Problem Level
  = stylesheet_link_tag "math_display", "lessons", "problem_type"

#current-asset-current-resource
  = display_current_asset @current_asset
  = render :partial => "problem_levels/problem_level_main_resource", :locals => { :problem_level => @problem_level }