- content_for :head do
  %title Math Problems Menu
  = stylesheet_link_tag "admin/math_problems"

=render :partial => "subjects/problem_type_list_by_subject_and_category", :locals => {:subjects => @subjects }

#dashboard
  %h2 
    =link_to "My Dashboard", dashboard_path
#new_problem
  %h2
    =link_to "Create a New Problem Type", new_problem_type_path

=render :partial => "tags/problem_type_search_by_tags", :locals => { :tags => @tags }