- content_for :head do
  %title
    =@tag
  = stylesheet_link_tag "problem_type", "math_display", "problem_type_search"

#main-content
  #search-title
    ="Problem Types tagged as #{@tag.capitalize}"
  .problem_types
    -@problem_types.each do |problem_type|
      .math-display
        .problem-type-medium
          =render :partial => "problem_types/problem_type", :locals => {:problem_type => problem_type}  


