- content_for :head do
  %title
    =@tag
  = stylesheet_link_tag "lessons"

%h2
  ="Problem Types tagged as #{@tag.capitalize}"

.row#problem_list
  -@problem_types.each do |problem_type|
    =render :partial => "problem_types/short", :locals => {:problem_type => problem_type }


