- content_for :head do
  %title Tag Menu
  = stylesheet_link_tag "lessons"


%h2 This is the tag menu

.row#problem_list
  -@problem_types.each do |problem_type|
    .problem_example
      .problem_instruction
        =problem_type.instruction.description
      .problem_display
        =display_mathml_question(problem_type.demo_problem)
      .problem_info
        =link_to level_count_msg(problem_type), problem_type_path(problem_type)
        %br
        =problem_count_msg problem_type
        %br
        =display_tag_list problem_type


