.current-asset-wrapper
  =render :partial => "worksheets/worksheet_header", :locals => { :worksheet => current_worksheet }
  =render :partial => "worksheets/current_worksheet_short", :locals => { :current_worksheet => current_worksheet }
