<div class="worksheet_problem" id="problem_<%= problem_number %>">
	<span class="problem_number"><%= problem_number %>)</span>
	<%= render :partial => "math_problems/problem_display", :locals => { :math_problem => math_problem, :should_show_solution => false } %>
	<%= problem_links_if_editable(worksheet, problem_number, editable) %>
</div>