<div class="worksheet-problem" id="problem_<%= worksheet_problem.problem_number %>">
	<span class="problem_number"><%= display_problem_number(worksheet_problem) %></span>
	<%= render :partial => "math_problems/problem_display", :locals => { :math_problem => worksheet_problem.math_problem, :should_show_solution => true } %>
</div>