div.nav_bar {
  margin-bottom: 10px;
}

div.column {
  float: left;
}

div#container {
  width: 100%;
  clear: both;
}

.new-item {
  margin-left: 2em;
}

#lesson-header {
  #current-lesson {
    font-size: 1.5em;
    margin-bottom: .5em;
  }
  #lesson-title {
    font-size: 1.5em;
    margin-bottom: .5em;    
  }
}

#edit-lesson-link {
  float: right;
}