div.nav_bar {
  margin-bottom: 10px;
}

div.column {
  float: left;
}

div#container {
  width: 100%;
  clear: both;
}

.new-item {
  margin-left: 2em;
}

.column#lessons-column, .column#worksheets-column, .column#problem-types-column {
  width: 33%;
}

#lesson-title {
  font-size: 1.5em;
  margin-bottom: .5em;
}

#edit-lesson-link {
  float: right;
}

#current-lesson {
  overflow: auto;
  margin-bottom: 10px;
  border-bottom: solid black;
}