.new-item {
  margin-left: 2em;
}

.assert-header {
  #current-lesson {
    font-size: 1.5em;
    margin-bottom: .5em;
  }
  #lesson-title {
    font-size: 1.5em;
    margin-bottom: .5em;    
  }
}

#edit-lesson-link {
  float: right;
}