$math-display-color: grey;

@mixin problem-level-row {
  overflow: auto;
  clear: both;
  margin: 10px 0px 10px 0px;
}

#lesson-problem-list, #level-problem-list {
  @include problem-level-row;
}

div.problem_instruction {
  height: 40px;
}

div.problem_display {
  height: 80px;
}

.math-display {
  float: left;
  background-color: $math-display-color;
  padding: 10px;
  margin: 5px;
}


