$math-display-color: grey;

.math-display-row {
  overflow: auto;
  clear: both;
  margin: 10px 0px 10px 0px;
}

.math-display {
  float: left;
  background-color: $math-display-color;
  padding: 10px;
  margin: 5px;
}

div.problem_instruction {
  height: 40px;
}

div.problem_display {
  height: 80px;
}

