
#current-asset-problem-type-search {
  .current-lesson-wrapper {
    float: left;
    width: 15%;
    border-right: solid black;
    padding-right: 0.2em;
    margin-right: 1.3em;
  }
  #problem-type-search {
    width: 80%;
    float: left;
    #problem-type-search-categories, #problem-type-search-tags {
      width: 50%;
      float: left;
    }
    #new-problem-type-search-link a {
      text-decoration: none;
    }
  }  
}

#problem-type-search {
  width: 100%;
  float: left;
  #problem-type-search-categories, #problem-type-search-tags {
    width: 50%;
    float: left;
  }
  #new-problem-type-search-link a {
    text-decoration: none;
  }
  #problem-type-search-tags {
    form {
      display: inline;
      .single-tag-search-button {
        background-color: green;
        border: none;
      }
    }
  }
} 

#problem-type-search-tags {
  margin-bottom: 10px;
}

#search-title, .search-section-title {
  font-size: 1.7em;
  margin-bottom: 0.4em;
}