.current-lesson-wrapper {
  overflow: auto;
  #current-lesson-short {
    float: left;
    width: 15%;
    border-right: solid black;
    padding-right: 0.2em;
    margin-right: 1.3em;
    
    #problem-type-search {
      float: left;
    }
  }
}

#problem-type-search {
  overflow: auto;
  #problem-type-search-categories, #problem-type-search-tags {
    width: 50%;
    float: left;
  }
  #new-problem-type-search-link a {
    text-decoration: none;
  }
}

.search-section-title {
  font-size: 1.7em;
  margin-bottom: 0.4em;
}