.math-display {
  .problem-type-short {
    width: 120px;
    max-height: 300px;
    overflow: hidden;    
    
    #problem_type_title {
      text-align: center;
      max-width: 300px;
    }
    
    .problem_instruction, .problem_info {
      display: none;
    }

    .problem_display {
      height: auto;
      text-overflow: ellipsis;
      white-space: nowrap;
      max-width: 300px;
    }
  }
  .problem-type-medium {
    height: 200px;
    overflow: hidden;
    #problem_type_title {
      max-width: 300px;      
    }
    .problem_display {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;    
      max-width: 300px;
    }
  }
}

#current-asset-problem-type {
  .problem-type-full {
    width: 80%;
  }
}

.problem-type-full {
  border: solid black;
  float: left;
  width: auto;
  .module-header-bar {
    background-color: #E7F20C;
  }
  .problem-levels-display, .problem_info, .problem_instruction, #add-problem-type {
    margin: 10px;
  }
  .problem-levels-display {
    overflow: auto;
    clear: both;
    .problem-level {
      float: left;
      max-width: 300px;
      .problem_display {
        overflow: auto;
        text-overflow: ellipsis;
      }
      
    }
  }
  .problem_info {
    clear: both;
  }
}


#current-asset-problem-type {
  overflow: auto;
  .current-lesson-wrapper {
    float: left;
    width: 15%;
    padding-right: 0.2em;
    margin-right: 1.3em;
  }
  .problem-type-full {
    margin-top: 20px;
    #problem-type-display {
      float: left;
      #problem-type-title {
        font-size: 1.5em;
        margin-bottom: .5em;    
      }
    }
  }
}

#add-new-level-link {
  clear: both;
}

#main-content {
  .problem_types {
    .problem-type-full {
      margin-right: 10px;
      margin-bottom: 10px;
    }
  }
}