#worksheet-title {
  margin-top: 0.5em;
  text-align: center;
  div, form {
    display: inline;
  }
  #title-display {
    font-size: 2em;
  }
  .worksheet-button {
    background-color: green;
    border: none;
    margin: 0px;
    padding: 4px;
    font-size: 0.6em;
    font-weight: normal;
    font: arial;
    text-decoration: none;
    color: black;
  }
}

div.problem_group {
	margin: 20px;
	clear: both;
}

div.instructions {
	margin-bottom: 30px;
}

div.worksheet-problem {
	float: left;
	width: 200px;
	height: 200px;
	.answer {
    color: red;
  }
}

div.worksheet-problem .error_display {
  display: none;
}

span.math_text {
	margin: 0px 5px 0px 5px;
}

p.inline_math {
  text-align: center;
}
