#worksheet-builder {
  clear: both;
  overflow: auto;  
  #create-worksheet-button {
    clear: both;
  }
  .problem-level-worksheet-builder {
    float: left;
    margin: 5px 15px 5px 0px; 
    .problem-level, .math-display, .worksheet-form-links {
      float: none;
      max-width: 300px;
    }
  }
}