#worksheet-builder {
  #problem-types-display {
    .problem-type {
      clear: both;
      .problem-level {
        float: left;
        margin: 0.6em;
        .math-display, .worksheet-form-link {
          float: none;
        }
      }
    }
  }
  #create-worksheet-button {
    clear: both;
  }
}