.problem-links {
  clear: both;
  display: block;
  form {
    display: inline;
    float: left;
    margin: 10px auto 10px auto;
    width: 50%;
    text-align: center;
    color: white;
    height: 30px;
    .worksheet-button {
      width: 80px;
    }
  }
}

.worksheet-button, {
  background-color: green;
  border: thin solid black;
  margin: 0px;
  padding: 4px;
  font-size: 0.6em;
  font-weight: normal;
  font: arial;
  color: white;
  text-decoration: none;
  display: inline;
}

#worksheet-title {
  margin-top: 0.5em;
  margin-bottom: 0.6em;
  text-align: center;
  div, form {
    display: inline;
  }
  #title-display {
    font-size: 2em;
  }
}

.add-new-problem-buttons {
  max-width: 400px;
  margin: auto;
  align: center;
  overflow: auto;
  form {
    float: left;
    margin: 5px;
  }
}

div.problem_group {
	margin: 20px;
	clear: both;
	overflow: auto;
}

div.instructions {
	margin: .3em 0 .6em 0;
}

div.worksheet-problem {
	float: left;
	width: 200px;
	height: 200px;
	.answer {
    color: red;
  }
  background-color: #D3D3D3;
  margin: 5px;
  padding: 5px;
}

div.worksheet-problem .error_display {
  display: none;
}

span.math_text {
	margin: 0px 5px 0px 5px;
}

p.inline_math {
  text-align: center;
}

#new-worksheet-form {
  text-align: center;
  #submit {
    margin-top: .5em;
  }
}