%h3 Math Problem Template

=link_to "Back to Lesson", subject_lesson_path(@template.lesson.subject, @template.lesson)
%br
-@template.problem_levels.each do |level|
  .problem_example
    .difficulty_display
      =display_difficulty level
    .problem_display
      =display_mathml(level.demo_problem)
    .problem_info
      =problem_count_msg level
  