span.tag {
  background-color: green;
  margin: 3px;
  padding: 1px;
}

div#tag_list a:link, div#tag_list a:visited {
  text-decoration: none;
  color: black;
}

.form_section {
  margin: 15px 0px 15px 0px;
}

.nav {
  clear: both;
}

.nav #nav_bar {
  float: left;
}

.nav #user_login {
  text-align: right;
}