span.tag {
  background-color: green;
  margin: 3px;
  padding: 1px;
}

div#tag_list a:link, div#tag_list a:visited {
  text-decoration: none;
  color: black;
}

.form_section {
  margin: 15px 0px 15px 0px;
}

#navigation-header {
  clear: both;
}

#navigation-header #nav_bar {
  float: left;
}

#navigation-header #user_login {
  text-align: right;
}

#main-content {
  overflow: auto;
  clear: both;
  margin: 10px;
  padding: 5px;
  border-top: solid black;
}

#footer {
  clear: both;

  text-align: right;
  margin: 10px;
  padding: 5px;
  border-top: solid black;
  
}