div.nav_bar {
  margin-bottom: 10px;
}

div.row {
  clear: both;
  margin: 10 0 10 0;
}

div.column {
  float: left;
}

div.single_problem_display, div.problem_example, div.problem_type_short {
  float: left;
  background-color: grey;
  padding: 20px;
  margin: 10px;
}

div#problem_type_title {
  font-size: 1.5em;
  height: 40px;
}

div.single_problem_display div.problem_links {
  margin: 10px 0px 10px 0px;
}

div.problem_instruction {
  height: 40px;
}

div.problem_display {
  height: 80px;
}

div.problem_info {
  height: 45px;
}

div.example {
  float: left;
  margin: 40px;
  width: 80px;
	height: 50px;
}

div#container {
  width: 100%;
  clear: both;
}

.dashboard-list li {
  margin-left: 1em;
}
.new-item {
  margin-left: 2em;
}

.column#lessons-column, .column#worksheets-column, .column#problem-types-column {
  width: 30%;
}

/* End of Main Index Page */