div.nav_bar {
  margin-bottom: 10px;
}

div.row {
  clear: both;
}

div.single_problem_display, div.problem_example {
  float: left;
  background-color: grey;
  padding: 20px;
  margin: 10px;
}

div.single_problem_display div.problem_links {
  margin: 10px 0px 10px 0px;
}

div.problem_instruction {
  height: 40px;
}

div.problem_display {
  height: 80px;
}

div.problem_info {
  height: 45px;
}


/*div.problem_instruction {
  margin: 5px;
}
*/
div.example {
  float: left;
  margin: 40px;
  width: 80px;
	height: 50px;
}

div#container {
  width: 100%;
  clear: both;
}


/* End of Main Index Page */