div.problem_group {
	margin: 20px;
	clear: both;
}

div.instructions {
	margin-bottom: 30px;
}

div.worksheet_problem {
	float: left;
	width: 200px;
	height: 200px;
}

span.math_text {
	margin: 0px 5px 0px 5px;
}
