#current-level-display
  %h4
    Some Existing Problems
    = sibling_count(siblings.count, math_problem.siblings.count)
  #instructions
    = math_problem.instruction_description
  #sibling-problems
    - siblings.each do |sibling_problem|
      .math-display
        .problem_display
          =display_mathml_question(sibling_problem)
  #links
    =link_to 'Menu', root_url
