<div class="problem">
	<span class="problem_number"><%= problem_number %>)</span>
	<math mode="display" xmlns="http://www.w3.org/1998/Math/MathML">
		<%= display_mathml(math_problem) %>
	</math>
	<div class="problem_links"><%= link_to :replace, "http://www.google.com" %></div>
</div>