<div class="problem">
	<span class="problem_number"><%= problem_number %>)</span>
	<math mode="display" xmlns="http://www.w3.org/1998/Math/MathML">
		<%= display_mathml(math_problem) %>
	</math>
	<div class="problem_links"><%= button_to :replace, {:controller => "worksheets", :action => "update", :id => @worksheet.id, :math_problem_id => math_problem.id }, { :method => 'put' } %></div>
</div>