.new_problem_form
  =builder.fields_for :math_problems do |problem_builder|
    #math-markup-input-fields
      #question
        #question-equation-editor
          =link_to "Launch Equation Editor for Question", "javascript:OpenLatexEditor('math_problem_question_markup','latex','')"
        .editor-explanation
          (note: will add to existing markup)
        #question_markup
          = problem_builder.label :question_markup
          %br
          = problem_builder.text_area :question_markup          
      #answer
        #answer-equation-editor
          =link_to "Launch Equation Editor for Answer", "javascript:OpenLatexEditor('math_problem_answer_markup','latex','')"
        .editor-explanation
          (note: will add to existing markup)
        #answer_markup
          = problem_builder.label :answer_markup
          %br
          = problem_builder.text_area :answer_markup
