.new_problem_form
  =builder.fields_for :math_problems do |problem_builder|
    .problem_builder_field
      = problem_builder.label :question_markup
      %br
      = problem_builder.text_area :question_markup
    .problem_builder_field
      = problem_builder.label :answer_markup
      %br
      = problem_builder.text_area :answer_markup
