.problem_collection
  %h2 Rougue Math Problems
  - rougues.each do |problem|
    .rougue_problem
      - if problem.instruction
        .problem_instruction
          = group.first.instruction.description
      .problem_display
        = render(:partial => "problem_display", :locals => { :math_problem => problem })
      .markup
        %p Markup
        = problem.question_markup
