%h1 Editing Math Problem
#problem_type_info
  Problem Type: 
  =link_to @math_problem.problem_type.title, problem_type_url(@math_problem.problem_type)
  
%h3 Current Display:
%b Question:
=display_mathml_question(@math_problem)
%b Answer:
=display_mathml_answer(@math_problem)

=render 'form'
=link_to 'Show', @math_problem
|
=link_to 'Menu', menu_url