<% content_for :head do %>
  <%= stylesheet_link_tag "admin/math_problems" %>
<% end %>

<div id="container">
  <% @math_problems.each do |problem| %>
    <div class="problem">
      <div class="problem_id"><%= problem.id %></div>
      <%= render :partial => "problem_display", :locals => { :math_problem => problem } %>
    </div>
  <% end %>
</div>