- content_for :head do
  %title Math Problems
  = stylesheet_link_tag "admin/math_problems"

#container
  #subject_list
    %h2 Subjects
    - @subjects.each do |subject|
      .subject
        = subject.title
        %ul.lesson_list
          - subject.lessons.each do |lesson|
            %li
              =link_to lesson.title, lesson_path(lesson)
              =problem_type_count(lesson)