<% content_for :head do %>
  <%= stylesheet_link_tag "admin/math_problems" %>
<% end %>

<% @problem_groups.each do |group| %>
  <div class="<%= cycle('index_group_container_odd', 'index_group_container_even') %>">
    <div class="problem_instruction"><%= group.first.instruction.description %></div>
    <% group.each do |problem| %>
      <div class="problem">
        <%= render :partial => "problem_display", :locals => { :math_problem => problem } %>
      </div>
    <% end %>
  </div>  
<% end %>

