- content_for :head do
  %title New Math Problem
  = stylesheet_link_tag "math_display", "problem_entry_form"
  = javascript_include_tag "http://latex.codecogs.com/editor3.js"
  
#new-math-problem
  .page-title New Math Problem
  =render 'math_problems/form'
  
= render :partial => 'math_problems/current_level_display', :locals => { :siblings => @siblings, :math_problem => @math_problem }