- content_for :head do
  %title Math Problem
  = stylesheet_link_tag "admin/math_problems"

%p
  %b Display:
  =display_mathml(@math_problem)

%p
  %b Question:
  =@math_problem.question_markup
  
%p
  %b Answer:
  =@math_problem.answer_markup

=link_to 'Edit', math_problem_path(@math_problem) 
=link_to 'Back', math_problems_path
