- content_for :head do
  %title Math Problem
  = stylesheet_link_tag "math_display"

.math-display
  %b Question:
  =display_mathml_question(@math_problem)
  %b Answer:
  =display_mathml_answer(@math_problem)

=link_to 'Edit', edit_math_problem_path(@math_problem)
| 
=link_to 'Back to Level', problem_type_problem_level_url(@math_problem.problem_type, @math_problem.problem_level)
