%h2 My Lessons
.dashboard-list#my-lessons
  %ul
    - lessons.each do |lesson|
      %li.lesson
        =link_to lesson.title, lesson_url(lesson)
  .new-item
    =link_to "Create a new Lesson", new_lesson_url