- content_for :head do
  %title Worksheets
  =stylesheet_link_tag "menu", "math_display", "layout", "tags" 

= render :partial => "problem_type_search", :locals => { :subjects => @subjects, :tags => @tags}