=render :partial => "lessons/lesson_header", :locals => { :lesson => @current_lesson }

#current-lesson-problem-type-search
  =render :partial => "lessons/current_lesson_short", :locals => { :current_lesson => @current_lesson }
  =render :partial => "problem_type_search", :locals => { :tags => @tags, :subjects => @subjects }