- content_for :head do
  %title
    = "Find Problem Types for #{@current_lesson.title}"
  = stylesheet_link_tag "lessons", "math_display"

=render :partial => "lessons/current_lesson_short", :locals => { :current_lesson => @current_lesson }  
=render :partial => "subjects/problem_type_list_by_subject_and_category", :locals => { :subjects => @subjects }  
=render :partial => "tags/problem_type_search_by_tags", :locals => { :tags => @tags }