- content_for :head do
  %title My Worksheets
.sixteen.columns
  %h2 My Worksheets
.sixteen.columns
  #worksheets
    #current-worksheets
      %h3
        Current Worksheets

- if @worksheets.empty?
  .worksheet You don't have any worksheets!
  .worksheet Make some worksheets!
- else
  - @worksheets.each do |worksheet|
    .four.columns
      .worksheet_list
        = link_to worksheet.title, worksheet_path(worksheet)
        %br/
        Creation Date
        %br/
        Subject Matter

.sixteen.columns
  #create-new-worksheet
    = link_to "Create a New Worksheet", new_worksheet_path