.current-lesson-wrapper
  =render :partial => "lessons/lesson_header", :locals => { :lesson => current_lesson }
  =render :partial => "lessons/current_lesson_short", :locals => { :current_lesson => current_lesson }
