#current-lesson-short.lessons.short
  .problem-type-list
    Currently in this Lesson:
    =render :partial => "lessons/problem_list_short", :locals => { :problem_types => current_lesson.problem_types }