- content_for :head do
  = stylesheet_link_tag "lessons"

.row
  .column#lessons-column
    %h2 My Lessons
    .dashboard-list#lessons
      %ul
        - @lessons.each do |lesson|
          %li.lesson
            =link_to lesson.title, lesson_url(lesson)
      .new-item
        =link_to "Create a new Lesson", new_lesson_url
    
  .column#worksheets-column
    %h2 My Worksheets
    .dashboard-list#worksheets
      Coming Soon!
    
  .column#problem-types-column
    %h2 My Problem Types
    .dashboard-list#problem-types
      %ul
        - @problem_types.each do |problem_type|
          %li.problem-type
            =link_to problem_type.title, problem_type_path(problem_type)
      .new-item
        =link_to "Create a new ProblemType", new_problem_type_url 