- content_for :head do
  %title
    = "Lesson: #{@lesson.title}"
  = stylesheet_link_tag "lessons"

#container
  %h2
    =link_to @lesson.subject.title, subject_path(@subject)
  %h3
    =@lesson.title
  .row#problem_list
    -@lesson.problem_types.each do |problem_type|
      .problem_example
        .problem_type_title
          =link_to problem_type.title, problem_type_url(problem_type)
        .problem_instruction
          Instructions: 
          =problem_type.instruction.description
        .problem_display
          =display_mathml_question(problem_type.demo_problem)
        .problem_info
          =level_count_msg(problem_type)
          %br
          =problem_count_msg problem_type
          %br
          =display_tag_list problem_type
  .row#add_new_problem_links
    =link_to "Add New Problem Type", new_lesson_problem_type_path(@lesson)
  






