- content_for :head do
  %title
    =title(@lesson)
  = stylesheet_link_tag "lessons"

#container
  %h2
    =link_to @lesson.subject.title, subject_path(@subject)
  %h3
    =@lesson.title
  #add_new_problem_links
    =link_to "Add New Problem/Template", new_lesson_math_problem_template_path(@lesson)
  #problem_list
    -@lesson.math_problem_templates.each do |problem_template|
      .problem_example
        .problem_instruction
          =problem_template.instruction.description
        .problem_display
          =display_mathml(problem_template.demo_problem)
        .problem_info
          =link_to level_count_msg(problem_template), math_problem_template_path(problem_template)
          %br
          =problem_count_msg problem_template






