= render :partial => "worksheet_problems/replace_worksheet_problem", :locals => { :worksheet_problem => worksheet_problem }
= render :partial => 'worksheet_problems/problem_links/add_similar_worksheet_problem', :locals => { :worksheet_problem => worksheet_problem }
