-if rogues.length >= 1
  .problem_collection
    %h2 Rogue Math Problems
    - rogues.each do |problem|
      .rogue_problem
        - if problem.instruction
          .problem_instruction
            = group.first.instruction.description
        .problem_display
          = render(:partial => "math_problems/problem_display", :locals => { :math_problem => problem })
        .markup
          %p Markup
          = problem.question_markup
        .links
          =link_to "Destroy", problem, :confirm => "Are you sure?", :method => :delete
          =link_to "Edit", edit_math_problem_path(problem)
-else
  .problem_collection
    %h2 No rogue problems in the system at present.