= form_tag(worksheet_path(worksheet_problem.worksheet), :method => 'put', :class => "replace_problem_form", :id => "replace_problem_form_#{worksheet_problem.problem_number}") do
  %input{:type => "hidden", :name => 'problem_number', :value => worksheet_problem.problem_number}
  %input{:id => "replace_problem_submit_#{worksheet_problem.problem_number}", :class =>"replace_problem_submit", :type => "submit", :value => "replace" }
