= form_tag(worksheet_problem_replacer_path, :method => :post, :class => "replace_problem_form", :id => "replace_problem_form_#{worksheet_problem.problem_number}") do
  %input{:type => "hidden", :name => 'worksheet_problem_replacer[worksheet_id]', :value => worksheet_problem.worksheet.id}
  %input{:type => "hidden", :name => 'worksheet_problem_replacer[problem_number]', :value => worksheet_problem.problem_number}
  %input{:id => "replace_problem_submit_#{worksheet_problem.problem_number}", :class =>"replace_problem_submit", :type => "submit", :value => "replace" }
