.problem-links
   = render :partial => "worksheet_problems/replace_worksheet_problem", :locals => { :worksheet_problem => worksheet_problem }
   = render :partial => "worksheet_problems/remove_worksheet_problem", :locals => {:worksheet_problem => worksheet_problem }
   = render :partial => "worksheet_problems/add_similar_worksheet_problem", :locals => { :worksheet_problem => worksheet_problem }
   = render :partial => "worksheet_problems/create_similar_problem", :locals => {:worksheet_problem => worksheet_problem }
.error_display
