.worksheet_problem{:id => "problem_#{worksheet_problem.problem_number}"}
  %span.problem_number
    = worksheet_problem.problem_number
  = render :partial => "math_problems/problem_display", :locals => { :math_problem => worksheet_problem.math_problem, :should_show_solution => false }
  = problem_links_if_editable(worksheet_problem.worksheet, worksheet_problem.problem_number, editable)