-unless levels.empty?
  .row
    -levels.each do |level|
      .math-display
        .level_number_display
          =link_to(display_level_number(level), problem_type_problem_level_url(@problem_type, level))
        .problem_display
          =display_mathml_question(level.demo_problem)
        .problem_info
          =problem_count_msg(level)
          %br
          =delete_level(level)
-else
  =empty_problem_type_message