- content_for :head do
  %title =@problem_type.title
  =stylesheet_link_tag "lessons", "problem_type", "math_display", "tags"
  
#current-lesson-problem-type
  .current-lesson-wrapper
    =render :partial => "lessons/lesson_header", :locals => { :lesson => @current_lesson }
    =render :partial => "lessons/current_lesson_short", :locals => { :current_lesson => @current_lesson }
  =render :partial => "problem_type_display", :locals => {:problem_type => @problem_type, :lesson => @current_lesson}