- content_for :head do
  %title Problem Type
  = stylesheet_link_tag "lessons"

%h3
  = @problem_type.title

.row
  =link_to "Edit Problem Type / Add or Delete Tags", edit_problem_type_url(@problem_type)
.row

.row
  = @problem_type.instruction.description
.row
  = display_tag_list @problem_type

.row
  -@problem_type.problem_levels.each do |level|
    .problem_example
      .level_number_display
        =display_level_number level
      .problem_display
        =display_mathml_question(level.demo_problem)
      .problem_info
        =link_to problem_count_msg(level), problem_type_problem_level_url(@problem_type, level)
        %br
        =delete_level(level)

.row
  =link_to "Back to Lesson", lesson_path(@problem_type.lesson)
  |
  =link_to "Add New Level", new_problem_type_problem_level_url(@problem_type)
  
