- content_for :head do
  %title Problem Type
  = stylesheet_link_tag "lessons"


%h3 Problem Type
.row
  = @problem_type.instruction.description

.row
  -@problem_type.problem_levels.each do |level|
    .problem_example
      .difficulty_display
        =display_difficulty level
      .problem_display
        =display_mathml_question(level.demo_problem)
      .problem_info
        =link_to problem_count_msg(level), problem_level_path(level)

.row
  =link_to "Back to Lesson", lesson_path(@problem_type.lesson)
  |
  =link_to "Add New Level", new_problem_type_problem_level_path(@problem_type)
  
