$white: #fff;
$black: #333;
$grey1: $white/1.05;
$grey2: $white/1.15;
$highlight1: #00cccc;
$highlight2: #ff0000;
$highlight3: #00cc33;
$highlight4:#cc3333;
$radius:3px;
$bigradius:5px;
$font-size:   14px;
$line-height: 18px;
$rgb_r:153;
$rgb_b:153;
$rgb_g:153;