#problem-type-search
  = render :partial => "search_by_category", :locals => { :subjects => subjects }
  = render :partial => "search_by_tag", :locals => { :tags => tags }
  = render :partial => "search_with_query"
  = render :partial => "create_new_problem_type"