#problem-type-query-search
  = form_tag problem_types_search_url, :method => 'get' do
    %p
      = text_field_tag "search[query]"
      = submit_tag "Search", :name => nil
      %br
      put tags in quotes (e.g. "Fractions", "Monomials") or title without
      
