#problem-type-query-search
  = form_tag problem_types_url, :method => 'get' do
    %p
      = text_field_tag :search, params[:search]
      = submit_tag "Search", :name => nil
      %br
      Search by Title or Tag Name (e.g. Fractions, Monomials)
