- content_for :head do
  %title Problem Type Search
  =stylesheet_link_tag "lessons", "problem_type", "math_display", "problem_type_search", "tags"

= render :partial => "problem_type_search", :locals => { :subjects => @subjects, :tags => @tags }