- content_for :head do
  %title Problem Types
  = stylesheet_link_tag "problem_type", "math_display"

#main-content
  #results-title
    Search results for "#{@search}"
  #search-results
  -@problem_types.each do |problem_type|
    .math-display
      .problem-type-medium
        =render :partial => "problem_types/problem_type", :locals => { :problem_type => problem_type }