- content_for :head do
  %title Problem Types
  = stylesheet_link_tag "lessons", "problem_type", "math_display", "problem_type_search", "tags"


#current-asset-problem-type-search
  = display_current_asset @current_asset
#results-title
  Search Results:
#search-results
-@problem_types.each do |problem_type|
  .math-display
    .problem-type-medium
      =render :partial => "problem_types/problem_type", :locals => { :problem_type => problem_type }